table.table.table-bordered.table-striped.table-hover
  colgroup
    col.span6
    col.span2
    col.span2
    col.span2
  thead
    tr
      th 职务
      if role == 'student'
        th 导师
      th 人数
      th 发布日期
  tbody
    each i in position
      tr
        td #{i.company.name} - #{i.title}
        if role == 'student'
          td #{i.creator.realname}
        td #{i.applied.length} / #{i.need}
        td #{i.created_at_str}
          i.icon-chevron-right.pull-right
