each i in position
  tr
    td #{i.company.name} - #{i.title}
    if role == 'student'
      td #{i.creator.realname}
    td #{i.applied.length} / #{i.need}
    td #{i.created_at_str}
      i.icon-chevron-right.pull-right
